* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }


:root {

   background: black;
}

body {
    background-image: white
}

body * {
    font-family: "Inter", sans-serif ;
    color: white
  }

div {
    text-align: center;
    padding: 20px;
}

div img {
        display: block;
        width: 112px;
        margin: auto;

}


#container {
    width: 360px;
    margin: 56px auto 0px;
    padding: 0 24px;
  }
  

ul {

    list-style: none;

    display: flex;
    flex-direction: column;
    gap: 16px 0;

    padding: 16px;
}

ul li a {

    display: flex;
    align-items: center;
    justify-content: center;

    padding: 16px 24px;

    background-color:  rgba(56, 54, 54, 0.89);
    border: 1px solid rgb(255, 255, 255);
    border-radius: 40px;

    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);

    text-decoration: none;
    font-weight: 500;

    transition: background 0.2s;
}

ul li a:hover {
    background: rgb(105,105,105);
    border: 1.5px solid rgb(241, 100, 100)
  }


  footer {
    padding: 24px 0;
    text-align: center;
  }